<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="meta-title" content="<%= settings['meta-title'] %>"/>
  <meta name="meta-description" content="<%= settings['meta-description'] %>"/>
  <meta name="meta-keywords" content="<%= settings['meta-keywords'] %>"/>

  <%- include('_styles') -%>
  <title><%= title %></title>
</head>

<body>
<%- include('navbar') -%>